<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emgcy120.core.system.event.mapper.Receive120Mapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.emgcy120.core.system.event.entity.Receive120">
		<id column="event_id" property="eventId" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="hosp_num" property="hospNum" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        event_id AS eventId, start_time AS startTime, end_time AS endTime, hosp_num AS hospNum
    </sql>

</mapper>
